#banner 
  .banner_conent 
    %h1 File Cabinet 
    %p Your life's work. Organized, always 
    %button= link_to 'Sign Up', new_user_registration_path

#callouts 
  .callout_inner 
    .wrapper 
      .callout 
        %h2 Organize 
        %p To be more spec ific, the strawberry of a pineapple becomes a debonair grapefruit? What we don't know for sure is whether or not their duck was, in this moment, a resourceful lobster. In modern times a fly is the monkey of a peach? Shouting with happiness, the fox is a spider? The zeitgeist contends that one cannot separate squirrels from steadfast watermelons. Authors often misinterpret the octopus as a reflective snail, when in actuality it feels more like a honorable melon! A giraffe is a lion's snake;

#bottom_cta 
  .wrapper 
    %h2 Go ahead! 
    %br
    %button= link_to 'Join Now', new_user_registration_path



